<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the demo Node.js app</p>
    <div>
      <h3>App Version - <%= version %></h3>
      <h3>Hostname - <%= os.hostname %></h3>
      <h3>Architecture - <%= os.arch %></h3>
      <h3>IP Address - <%= os.ip %></h3>
    </div>
  </body>
</html>
